examples/request-reply-service.json
{
  "name": "NATS Request/Reply Pattern with Subscriber",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger",
      "name": "Start Request",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "subject": "api.users.service",
        "queueGroup": "user-service"
      },
      "id": "service-subscriber",
      "name": "User Service Endpoint",
      "type": "n8n-nodes-synadia.natsTrigger",
      "typeVersion": 1,
      "position": [240, 500],
      "credentials": {
        "natsApi": {
          "id": "1",
          "name": "NATS Connection"
        }
      }
    },
    {
      "parameters": {
        "subject": "api.users.service",
        "data": "={{JSON.stringify({\"userId\": \"123\", \"includeDetails\": true})}}",
        "config": {
          "publishType": "request",
          "timeout": 5000,
          "messageEncoding": "json"
        }
      },
      "id": "request-publisher",
      "name": "Send User Request",
      "type": "n8n-nodes-synadia.nats",
      "typeVersion": 1,
      "position": [460, 300],
      "credentials": {
        "natsApi": {
          "id": "1",
          "name": "NATS Connection"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Simulate database lookup\nconst userId = $json.data.userId;\nconst includeDetails = $json.data.includeDetails;\n\n// Mock user data\nconst userData = {\n  id: userId,\n  name: \"John Doe\",\n  email: \"john.doe@example.com\",\n  createdAt: \"2024-01-15T10:30:00Z\"\n};\n\n// Add details if requested\nif (includeDetails) {\n  userData.details = {\n    lastLogin: \"2024-03-15T14:22:00Z\",\n    preferences: {\n      theme: \"dark\",\n      notifications: true\n    },\n    role: \"admin\"\n  };\n}\n\nreturn {\n  userData,\n  request: $json\n};"
      },
      "id": "process-request",
      "name": "Process User Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 500]
    },
    {
      "parameters": {
        "subject": "api.echo",
        "queueGroup": "echo-services"
      },
      "id": "echo-service",
      "name": "Echo Service",
      "type": "n8n-nodes-synadia.natsTrigger",
      "typeVersion": 1,
      "position": [900, 500],
      "credentials": {
        "natsApi": {
          "id": "1",
          "name": "NATS Connection"
        }
      }
    },
    {
      "parameters": {
        "subject": "={{$json.request.replyTo}}",
        "data": "={{JSON.stringify({\"echo\": $json.data, \"timestamp\": $now.toISO(), \"serviceId\": \"echo-service-1\"})}}",
        "config": {
          "publishType": "publish"
        }
      },
      "id": "echo-reply",
      "name": "Echo Reply",
      "type": "n8n-nodes-synadia.nats",
      "typeVersion": 1,
      "position": [1120, 500],
      "credentials": {
        "natsApi": {
          "id": "1",
          "name": "NATS Connection"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "Request completed"
            }
          ]
        },
        "config": {}
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "subject": "={{$json.request.replyTo}}",
        "data": "={{JSON.stringify($json.userData)}}",
        "config": {
          "publishType": "publish"
        }
      },
      "id": "send-reply",
      "name": "Send Reply",
      "type": "n8n-nodes-synadia.nats",
      "typeVersion": 1,
      "position": [680, 500],
      "credentials": {
        "natsApi": {
          "id": "1",
          "name": "NATS Connection"
        }
      }
    }
  ],
  "connections": {
    "Start Request": {
      "main": [
        [
          {
            "node": "Send User Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Service Endpoint": {
      "main": [
        [
          {
            "node": "Process User Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process User Request": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Echo Service": {
      "main": [
        [
          {
            "node": "Echo Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send User Request": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "rr-example-v1",
  "id": "5",
  "meta": {
    "instanceId": "n8n-instance-id"
  },
  "tags": []
}