examples/request-reply-service.json
{
  "name": "NATS Request/Reply Pattern with Subscriber",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger",
      "name": "Start Request",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "subject": "api.users.service",
        "queueGroup": "user-service",
        "replyMode": "manual",
        "replyOptions": {
          "replyField": "userData",
          "includeRequest": true,
          "defaultReply": "{\"error\": \"User not found\"}"
        }
      },
      "id": "service-subscriber",
      "name": "User Service Endpoint",
      "type": "n8n-nodes-synadia.natsSubscriber",
      "typeVersion": 1,
      "position": [240, 500],
      "credentials": {
        "natsApi": {
          "id": "1",
          "name": "NATS Connection"
        }
      }
    },
    {
      "parameters": {
        "subject": "api.users.service",
        "message": "{{JSON.stringify({\"userId\": \"123\", \"includeDetails\": true})}}",
        "options": {
          "publishType": "request",
          "timeout": 5000,
          "messageEncoding": "json"
        }
      },
      "id": "request-publisher",
      "name": "Send User Request",
      "type": "n8n-nodes-synadia.natsPublisher",
      "typeVersion": 1,
      "position": [460, 300],
      "credentials": {
        "natsApi": {
          "id": "1",
          "name": "NATS Connection"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Simulate database lookup\nconst userId = $json.data.userId;\nconst includeDetails = $json.data.includeDetails;\n\n// Mock user data\nconst userData = {\n  id: userId,\n  name: \"John Doe\",\n  email: \"john.doe@example.com\",\n  createdAt: \"2024-01-15T10:30:00Z\"\n};\n\n// Add details if requested\nif (includeDetails) {\n  userData.details = {\n    lastLogin: \"2024-03-15T14:22:00Z\",\n    preferences: {\n      theme: \"dark\",\n      notifications: true\n    },\n    role: \"admin\"\n  };\n}\n\nreturn {\n  userData,\n  request: $json\n};"
      },
      "id": "process-request",
      "name": "Process User Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 500]
    },
    {
      "parameters": {
        "subject": "api.echo",
        "queueGroup": "echo-services",
        "replyMode": "automatic",
        "automaticReply": {
          "responseTemplate": "{\n  \"echo\": \"{{$json.data}}\",\n  \"timestamp\": \"{{new Date().toISOString()}}\",\n  \"serviceId\": \"echo-service-1\"\n}",
          "includeRequestInOutput": true
        }
      },
      "id": "echo-service",
      "name": "Echo Service",
      "type": "n8n-nodes-synadia.natsSubscriber",
      "typeVersion": 1,
      "position": [680, 500],
      "credentials": {
        "natsApi": {
          "id": "1",
          "name": "NATS Connection"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "Request completed"
            }
          ]
        },
        "options": {}
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Start Request": {
      "main": [
        [
          {
            "node": "Send User Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Service Endpoint": {
      "main": [
        [
          {
            "node": "Process User Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send User Request": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "rr-example-v1",
  "id": "5",
  "meta": {
    "instanceId": "n8n-instance-id"
  },
  "tags": []
}